.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur d'arrière-plan semi-transparente pour l'effet d'ombrage */
  z-index: 1;
}

.search-image {
  position: relative;
  z-index: 2;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff; /* Couleur du texte */
  text-align: center;
}

.text-container h1 {
  color: #ff0000; /* Couleur du titre h1 */
}

.text-container p {
  color: #ffffff; /* Couleur du paragraphe */
}

.links a {
  color: #ffffff; /* Couleur des liens */
}

.search-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.search-overlay input[type="text"],
.search-overlay button {
  display: block;
  margin-bottom: 10px;
}

.logo {
  width: 300px;
  height: 300px;
  animation: rotation 3.5s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}


/* Styles pour les catégories */
.category-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Ajustez la marge selon vos besoins */
  margin-bottom: 50px;
}

.category {
  text-align: center;
  margin: 0 20px; /* Ajustez la marge horizontale selon vos besoins */
  margin-bottom: 20px; /* Ajoute une marge en bas pour créer de l'espace */
  perspective: 800px;
}

.category:hover {
  /* transform: scale (1); */
}

.category a {
  display: block;
  text-decoration: none;
}

.category img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 35px;
  transform-origin: center center;
}

.effet {
  transition: transform 0.5s ease;
}

.effet:hover {
  transform: scale(1.2);
}


.category h3 {
  font-size: 18px;
  margin: 0;
}

.nav {
  
  justify-content: center;
  position: fixed;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 100%;
  height: auto;
}

/* Styles pour le bas de page */
footer {
  background-color: #4CAF50 ;
  color: #302929;
  padding: 30px 0;
}

footer h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

.social-media-icons {
  display: flex;
  align-items: center;
}

.social-media-icons a {
  color: #000000;
  font-size: 24px;
  margin-right: 10px;
}

.social-media-icons a:hover {
  color: #8f1919;
}
/* fin de fin de page*/
.carousel-item img {
  width: 100%;
  height: auto;
}



/* Effet de zoom sur la page d'accueil */
.featured-item {
  transition: transform 0.3s;
}

.featured-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Commande */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.product-list {
  margin-bottom: 20px;
}

.scrollable-frame {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.product-item {
  margin-bottom: 10px;
}

.product-checkbox {
  margin-right: 10px;
}

.quantity {
  display: flex;
  align-items: center;
}

.btn {
  margin-right: 10px;
}

.cart-details {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  margin: 10% auto;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 20px 0;
}

.modal-footer {
  text-align: right;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-primary {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #ccc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-danger {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}